body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #313847; /* A dark, modern color */
    color: #fff;
    width: 200px;
    padding: 20px;
    position: fixed;
    border-radius: 5px;
    top: 0;
    left: 0;
    height: 100%;
    transition: width 0.3s ease;
    z-index: 100; /* Ensure sidebar stays on top */
}

.sidebar li:hover {
    background-color: rgb(0, 33, 46);
}

.sidebar-header {
    text-align: center;
    padding-bottom: 20px;
}
 

.sidebar-header .logo {
    width: 80px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu .menu-item {
    margin-bottom: 15px;
}

.sidebar-menu .menu-item a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.sidebar-menu .menu-item a i {
    margin-right: 10px;
}

.sidebar-menu .menu-item.active a {
    background-color: #333;
    color: #fff;
}
.cont{
   margin-left: 300px;
}

.container{
    display: flex;
}

footer{
    margin-left: 50px;
}

.table{
    width: 50%;
}

