body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}


/* this is the last element to style */
footer{
    text-align: center;
    bottom: 0;
    position: relative;
    background-color: aquamarine;
}